RewriteEngine On
RewriteRule ^([a-z_-]+)\/?$ index.php?page=$1 [NC,L]
RewriteRule ^([a-z_-]+)\/([a-z,0-9_-]+)\/?$ index.php?page=$1&sub_page=$2 [NC,L]
RewriteRule ^([a-z_-]+)\/([a-z,0-9_-]+)\/([a-z,0-9_-_=]+)\/?$ index.php?page=$1&sub_page=$2&id=$3 [NC,L]
